<div class='menu'>
  <nav class='nav-menu'>
    <ul>
      <li class='menu-item'><%= link_to 'ABOUT', about_path, class: 'menu-link link-1' %></li>
      <li class='menu-item'><%= link_to 'WORKS', works_path, class: 'menu-link link-2' %></li>
      <li class='menu-item'><%= link_to 'CONTACT', contact_path, class: 'menu-link link-3' %></li>
    </ul>
  </nav>
</div>
