<div class='about'>

  <h1 id="title">ABOUT</h1>


  <div class="contents">

    <div class="section">
      <%= image_tag('service@2x.png', class: "section-title") %>

      <p>ここではサービスを紹介します。</p>

      <div class="image-wrapper">
        <%= image_tag('device@2x.png', class: "section-image") %>
      </div>

    </div>

    <div class="section">
      <%= image_tag('principle@2x.png', class: "section-title") %>

      <p>デザイン</p>

    </div>

    <div class="section">
      <%= image_tag('history@2x.png', class: "section-title") %>

      <table>
        <tbody>
          <tr>
            <th>2015年</th>
            <td>東京大学進学</td>
          </tr>
          <tr>
            <th>2016年</th>
            <td>株式会社AppBrew創業メンバーとして参画。エンジニアとしてWebサービス・アプリの企画・開発</td>
          </tr>
          <tr>
            <th>2017年</th>
            <td>コスメの口コミアプリ「LIPS」にて1億円の調達となるシリーズA完了と同時に独立。新規サービスの開発を開始。</td>
          </tr>
          <tr>
            <th>2018年</th>
            <td>フリーランスとして業界・規模問わず新規サービスのデザインと開発に携わる。</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>
