<div class='contact'>

  <h1 id="title">CONTACT</h1>

  <div class="contents">
    <div class='facebook'>
      <%= link_to "https://www.messenger.com/t/hideaki.takahashi.56", class: 'header-logo' do %>
        <%= image_tag('messenger.png', class: 'messenger-icon') %>
      <% end %>

      <p class='messenger'>Facebook Messenger</p>
    </div>

    <a href="mailto:hide.taka.070401@gmail.com?" class="mail">hide.taka.070401@gmail.com</a>
  </div>
</div>
