<div id="nav-container">
  <div id="nav-overlay"></div>

  <nav id="nav-fullscreen">
    <ul>
      <li><%= link_to 'ABOUT', about_path %></li>
      <li><%= link_to 'WORKS', works_path %></li>
      <li><%= link_to 'CONTACT', contact_path %></li>
    </ul>
  </nav>

  <a id="nav-toggle">
    <span></span>
    <span></span>
    <span></span>
  </a>
</div>
