@import "pc/loader";

#title {
  margin: 0;
  font-size: 18px;
  letter-spacing: 10px;
  position: fixed;
  top: 100px;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform : translateX(-50%);
  transform : translateX(-50%);
}

.contents {
  padding-top: 150px;
}


.top-page {
  position: fixed;
  top: 50%;
  -ms-transform: translateY(-100px);
  -webkit-transform : translateY(-100px);
  transform : translateY(-100px);

  .basic-info {

    .name {
      font-size: 30px;
      letter-spacing: 5px;
    }
    .job-description {
      font-size: 15px;
    }
  }

  .animated-text {
    padding-top: 15px;
    #typed {
      font-size: 25px;
      color: rgba(0,0,0,0.2);
    }
    .typed-cursor {
      font-size: 25px;
      color: rgba(0,0,0,0.2);
    }
  }
}
